footer{
    color: white;
}

.footer-img{
    position: relative;
}

.footer-img img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.footer{
    width: 100%;
    height: auto;
    padding-bottom: 7rem;
    z-index: 10;
}

.f-container{
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.f-box1{
    width: 100%;
    font-size: .9rem;
    color: #888;;
    padding-top: 4rem;
    display: flex;
    line-height: 2rem;
    z-index: 10;
}

.f-ul{
    width: 100%;
    z-index: 10;
}

.f-ul span{
    color: #fff;
    z-index: 10;
}

.f-ul ul, .f-ul ul li{
    width: 100%;
}

.f-ul ul li a{
    color: #BBB;
    z-index: 10;
}

.f-hover:hover{
    color: #00bfd6;
    z-index: 10;
}

.f-box2{
    width: 100%;
    height: 4rem;
    margin: 2.4rem 0;
    display: flex;
    justify-content: space-between;
}

.social-box{
    display: flex;
    text-align: center;
    position: relative;
}

.social-icons{
    position: absolute;
    display: flex;
    font-size: 1.6rem;
    top: -5%;
    left: 125%;
}

.social-icons i{
    margin: 0 .4rem;
    color: #888;
}

.social-icons i:hover{
    margin: 0 .4rem;
    color: #00bfd6;
}

.newsletter-box{
    width: 24%;
    position: relative;
}

.newsletter-text{
    margin-bottom: 1rem;
}

.newsletter-text p{
    color: #888;
    font-size: .9rem;
}

.text{
    max-width: 17.8rem;
    height: 38px;
    border: 1px solid #888;
    border-radius: 3px;
    position: relative;
    z-index: 5;
}

.input{
    background: none;
    padding: 0 0 0 16%;
    border: none;
    height: 38px;
    line-height: 41px;
    width: 71%;
    color: #888;
    outline: none;
}

.fa-envelope{
    color: #888;
    font-size: 1.2rem;
    position: absolute;
    top: 20%;
    left: 3%;
}

.sub{
    width: 13%;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    border-left: 1px solid #888;
    border-radius: 0;
    cursor: pointer;
}

.fa-check{
    color: #00bfd6;
    font-size: 1rem;
    position: absolute;
    top: 25%;
    right: 25%;
}

.f-box3, .f-box4{
    width: 100%;
}

.box3-container{
    width: 30%;
    display: flex;
}

.box3-container div{
    padding-right: 3rem;
}

.box3-container div a{
    font-size: .8rem;
    color: #888;
}

.f-box4 p{
    font-size: .8rem;
    color: #888;
}