.section-grid{
    background: #fff;
    padding: 2rem;
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
}

.grid-container{
    position: relative;
}

.grid-img{
    width: 100%;
}

.grid-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
}

.grid-text-container.box1,
.grid-text-container.box2{
    margin-top: 39%;
}

.grid-text-container.box3{
    margin-top: 22%;
}

.grid-text-container.box4{
    margin-top: 3.5%;
}

.hero-grid-header1{
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1.2rem;
}

.hero-grid-header2{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2.4rem;
}

.hero-grid-header1.dark-font{
    color: #111;
}

.hero-grid-header2.dark-font{
    color: #111;
}

.hero-grid-link{
    font-size: 1.6rem;
    color: #00bfd6;
}

.hero-grid-link-play{
    font-size: 1.6rem;
    color: #00bfd6;
    margin-top: 1.4rem;
}

.fa-play-circle{
    margin-left: .8rem;
}